@page "/logout"
@inject AuthService AuthService
@inject NavigationManager navigation

<h3>Logging out.......</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.Logout();
        navigation.NavigateTo("/login");
    }
}
